.table {
	 width: 100%;
	 margin-bottom: 1rem;
	 color: #000;
	 background-color: #fff;
}
 .table .th, .table .td {
	 padding: 0.5rem;
	 vertical-align: top;
	 border-top: 1px solid #dee2e6;
}
 .table .thead .th {
	 vertical-align: bottom;
	 border-bottom: 2px solid #dee2e6;
	 font-weight: bold;
}
 .table .tbody + .tbody {
	 border-top: 2px solid #dee2e6;
}
 .table-sm .th, .table-sm .td {
	 padding: 0.25rem;
}
 .table-bordered {
	 border: 1px solid #dee2e6;
}
 .table-bordered .th, .table-bordered .td {
	 border: 1px solid #dee2e6;
}
 .table-bordered .thead .th, .table-bordered .thead .td {
	 border-bottom-width: 2px;
}
 .table-borderless .th, .table-borderless .td, .table-borderless .thead .th, .table-borderless .tbody + .tbody {
	 border: 0;
}
 .table-striped .tbody .tr:nth-of-type(odd) {
	 background-color: transparent;
}
 .table-hover .tbody .tr {
	 color: #000;
	 background-color: #fff;
}
 